---
title: AVsitter1 LSL Examples (Beginner)
sidebar: avsitter1_sidebar
keywords: [scripting, avsitter1]
permalink: avsitter1_lsl_examples_beginner.html
toc: true
---

<div class="home">
{% include note.html content="The following LSL script examples are dedicated to the Public Domain under the <a href='https://creativecommons.org/publicdomain/zero/1.0/'>CC0 1.0</a>." %}
{% include important.html content="Please read useage instructions given in the header of each script." %}
{% include tip.html content="Visit the <a href='http://wiki.secondlife.com/wiki/Category:LSL_Functions'>LSL Portal</a> for function reference." %}

{% for example in site.avsitter1_lsl_examples_beginner %}

<a class="post-link" href="{{ example.url | remove: "/" }}"><h2>{{ example.title }}</h2></a>
{{ example.content }}
{% endfor %}
</div>

